{% load static%}
<!doctype html>
<html lang="en">
<head>
  <title>Actualizar Producto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href= {% static "css/portafolio.css" %}>
  <link rel="stylesheet" href="{% static "css/agregarproducto.css" %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>

  <header>
    <div class="container">
        <p class="logo">Electrodomésticos GELMAR</p>
        <nav>
            <a href="{% url 'inicio' %}">Inicio</a>
            <a href="/administrador">Administrador</a>
            <a href="/portafolio"> Productos</a>
            <a href="/login">Salir</a>
        </nav>
        
    </div>
</header>

    <br>
<br>
<section>
  <h2>Actualizar Producto</h2>
</section>
<div>
  <style>           
      .items{
          position: fixed;
          bottom: 0;
          float: left;
          height: 55%;
          color: white;
      }

      .itemA img{
          width: 35px;  
          background-color: rgb(198, 198, 198); 
          border-radius: 20px;
          cursor: pointer;
      }

      .itemD img{
          width: 30px; 
          background-color: 
          rgb(198, 198, 198); 
          border-radius: 20px;
          cursor: pointer;
      }
  </style>
  <p>
      <ul class="items">
          <li class="itemA">
              <img id="aumentar" src={% static "AumentarReducir/icons8-aumentar-fuente-50.png" %} alt="">
          </li>
          <br>
          <li class="itemD">
              <img id="disminuir" src={% static "AumentarReducir/icons8-reducir-fuente-50.png" %} alt="">
          </li>
      </ul>
  </p>
</div>
<section> 
  
    <div class="container">
      <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {% for campo in formulario %}
            
          <label for="" class="form-label">{{ campo.label }}</label>
             
            {% if campo.field.widget.input_type == 'file' and campo.value %}
             <br>
             <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="120" height="120"/>
            {% endif %}
            <input 
            class="form-control" 
            {% if campo.name == "Imagen" %}
                accept="image/*"
              {% endif %}
            type="{{ campo.field.widget.input_type}}" 
            name="{{ campo.name }}" 
            id=""
            placeholder="{{ campo.label }}"
            value="{{ campo.value | default:''}}"
            />
            <div class="col-12 help-text"> {{ campo.errors}} </div>  
            {% endfor %} 
    
            <br>
            <br>
    
            
            <section>
            <input name="" id="" class="btn btn-success regular-button" type="submit" value="Actualizar Producto">
            | <a name="" id="" class="btn btn-primary" href="{% url 'portafolio'%}" role="button">Cancelar</a>
            </section>
            <br>
            <br>
      </form>
    </div>
  </section>
   

  


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>

<script>
  var classes = ["f0", "f1", "f2", "f3", "f4", "f5"];
  var classIndex = 2;
  document.getElementById('aumentar').addEventListener('click', function() {
    let previousClass = classIndex;
    classIndex++;
    classIndex = (classIndex == classes.length) ? classes.length - 1 : classIndex;
    changeClass(previousClass, classIndex);
  });
  document.getElementById('disminuir').addEventListener('click', function () {
    let previousClass = classIndex;
    classIndex--;
    classIndex = (classIndex < 0) ? 0 : classIndex;
    changeClass(previousClass, classIndex);
  });
  function changeClass(previous, next) {
    if(previous != next) {
      var htmlElement = document.querySelector('html')
      htmlElement.classList.remove(classes[previous]);
      htmlElement.classList.add(classes[next]);
    }
  }
</script>

</body>
</html>